<div>
    <h2>Universis API Server</h2>
    <img class="img-fluid" width="640" src="images/universis_256.png" alt="Universis">
    <p>An open source “Student Information System” solution to manage your academic institute, based on a collaborative community</p>
</div>
